.donas__div__nosotros{
    width: 1080px;
    background-color: grey;
    border-radius: 5px;
}

.donas__imagenes__local{
    width: 30%;
    height:30%;
}
.donas__div__local{
    width: 30%;
    background-color: grey;
    border-radius: 5px;
}


.map{
    width: 40%;
    
}
